:root {
    --primary: #2E2747;
    --secondary: #ECE6FF;
    --accent: #E2F6EB;
    --text: #333333;
    --white: #FFFFFF;
    --black: #000000;
    --bgDark: #1a1a1a;
    --themeGray: #757575;
}

:root {
    --h1: 1.75rem;
    --p: 1rem;
}
